postgres:
  image: postgres:9.4
  environment:
    - POSTGRES_USER=__DB_USER__
    - POSTGRES_PASSWORD=__DB_PASSWORD__

web:
  build: .
  ports:
    - "3000:3000"
  volumes:
    - .:/application
  environment:
    - DATABASE_NAME=__DB_NAME__
    - AWS_ACCESS_KEY_ID=__AWS_ACCESS_KEY_ID__
    - AWS_BUCKET=__AWS_BUCKET__
    - AWS_SECRET_ACCESS_KEY=__AWS_SECRET_ACCESS_KEY__
  links:
    - postgres
  command: bin/rails server --port 3000 --binding 0.0.0.0
